{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<title>Hi There!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/gayain.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron jumbotron-fluid judul">
  				<div class="container pesan">
			    	<h1 class="display-4">Log In</h1>
				</div>
			</div>

	    	<form autocomplete="off" id="form" action="/login/" method="POST">
	    		{% csrf_token %}	
	    		<h2> {{gagal}} </h2>
				<div class="form-group">
					<label for="username">Username</label>
			    	<input type="text" id="username" class="form-control" placeholder="Enter username" name="username">
				</div>
				<div class="form-group">
			    	<label for="exampleInputPassword1">Password</label>
			    	<input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
			  	</div>
			  	<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			
		</div>
	</body>
</html>