{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<title>Login!</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/gayain.css' %}">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron jumbotron-fluid judul">
  				<div class="container pesan">
			    	<h1 class="display-4">Welcome</h1>
				</div>
			</div>
		<!-- <form autocomplete="off" id="form" action="/login/" method="POST">
			{% csrf_token %}		
        	<input type="text" id="username" class="form-control form-control-lg" placeholder="Username" name="username">
        	<input type="password" id="password" class="form-control form-control-lg" placeholder="Password" name="password">
        	<button type="submit" class="btn btn-block btn-lg btn-primary button">Login!</button>
    	</form> -->

	    	<h2> Hello {{nama}}! You've been login. </h2>
	    	<br>
	    	<a href="{% url 'learnsession:sukseslogout' %}" class="btn btn-primary">Log Out</a>
		</div>

	</body>
</html>