html{

	height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #0077FF;
    --color-text: #333333;
    --color-changetheme:#595151;
    --font-familyaa: 'B612', sans-serif;
    --color-accortutup : #f5f5f5;
    --color-accor : #f5c6a9;
    --color-accortext : #454545;
    --color-accortextbuka : #333333;
}

body {
	width: 40%;
	font-family: 'B612', sans-serif;
}

.container{
	/*width: 200%;*/
}

.judul{
	padding: 2em;
	margin-right: auto;
	margin-left: auto;
	height: 50%;
	width: 85%;
	border-radius: 2em;
	display: flex;
	background-color: #343a40;
}

.pesan{
	margin: auto !important;
	width: auto !important;
	text-align: center !important;
}

h1{
	font-size: 2em !important;
	color: white; 
}

h2{
	font-size: 1.5em !important;
	align-items: center;
    justify-items: center;
    text-align: center;
}